{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ': '_'}) }}{% endmacro %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlepagenav.min.js') %}
    {% endif %}
    {{ parent() |raw }}
{% endblock %}

{% block bottom %}
    {{ parent() |raw }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('ul.navigation').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}

{% block header_navigation %}
    {% if show_onpage_menu %}
        <ul class="navigation">
        {% for module in page.collection() %}
            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li><a class="{{ current_module }}" href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
        {% endfor %}
        {% for mitem in site.menu %}
            <li>
                <a {% if mitem.class %}class="{{ mitem.class }}"{% endif %} href="{{ mitem.url }}">
                    {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{ parent() |raw}}
    {% endif %}
{% endblock %}

{% block hero %}
    {% for module in page.collection() if module.template == 'modular/hero' %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content |raw}}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container columns col-gapless">
    {% for module in page.collection() if module.template != 'modular/hero' %}
        {% if module.isFirst() %}
        <div id="{{ _self.pageLinkName(module.menu) }}" class="column col-5">
            {{ module.content |raw }}
        </div>
        {% else %}
            {% if module.currentPosition() == 1 %}
        <div class="column col-7">
            <div class="columns col-gapless">    
            {% endif %}
                <div id="{{ _self.pageLinkName(module.menu) }}" class="column col-12">
                    {{ module.content |raw}}
                </div>
        {% endif %}
        {% if module.isLast() %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock %}
